:root {
  --font-light: rgb(238, 238, 238); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #23262d;
  color: var(--font-light);
  font-family: 'Roboto', sans-serif; }

.container {
  margin: 5%;
  display: grid;
  grid-template-rows: 80vh auto;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 40px; }

.Lander {
  grid-row: 1;
  grid-column: 1 / -1; }

.Newsfeed {
  grid-row: 2;
  grid-column: 1 / 11; }

.Sidebar {
  grid-row: 2;
  grid-column: 11 / 13; }

.Lander {
  margin-bottom: 50px;
  height: 100%;
  max-height: 100%;
  min-height: 100%; }

.Lander .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  gap: 20px; }

.box {
  --color2: 36;
  --color2: 76;
  --delay: 0ms;
  background-color: hsl(var(--color1), 100%, 60%);
  animation: colorChange 20000ms ease var(--delay) infinite both;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
  .box:nth-child(4n - 2) {
    --delay: 1000ms; }
  .box:nth-child(4n) {
    --delay: 2000ms; }

.Newsfeed .article {
  margin-bottom: 10px; }
  .Newsfeed .article--heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .Newsfeed .article--date {
    font-size: 12px;
    margin-right: 10px; }

.Sidebar .event {
  margin-bottom: 10px; }
  .Sidebar .event--heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .Sidebar .event--date {
    font-size: 12px; }

#title {
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif; }

.heading {
  font-family: 'Titillium Web', sans-serif; }

.heading-primary {
  margin-bottom: 20px; }

.underline {
  border-bottom: 2px solid var(--font-light); }

@keyframes colorChange {
  0% {
    background-color: #ffb647; }
  25% {
    background-color: #9bfd3f; }
  50% {
    background-color: #47afff; }
  75% {
    background-color: #ff47f0; }
  100% {
    background-color: #ffb647; } }

@keyframes resize {
  0% {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
  25% {
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 1fr 2fr 3fr; }
  50% {
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr; }
  75% {
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 3fr 2fr 1fr; }
  100% {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; } }
